.github/
.husky/
.vscode/
.vscode-test/
jaegerUi/
src/
out/test/
out/**/*.test.js
.eslintrc.js
.gitignore
.prettierignore
.prettierrc
.stylelintignore
.stylelintrc
tsconfig*.json

# TODO: delete as not used
workspace.xml
after.png
before.png