
vscode-panel-view {
    padding-right: 0;
    padding-left: 0;
}

#raw{
    font-family: var(--vscode-editor-font-family);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    inline-size: 100%;
}
.workspace-only-checkbox{
    position: absolute;
    right: 0;
    top: 6px;
}
.ellipsis > * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
.flow-stack-title{
    font-weight: 500;
}
.flow-stack-frames{
    border-left: 1px solid var(--vscode-tree-indentGuidesStroke);
    padding-left: 5px;
    margin: 4px 0px 20px 3px;
}
.look-like-link{
    color: var(--vscode-textLink-foreground);
    padding-top: 5px;
}
.list-item.disabled {
    opacity: 0.4;
}
.bottom-line {
    display: flex;
    width: 100%;
}
.bottom-line .link-cell{
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}
.bottom-line .number-cell{
    display: inline-flex;
    align-items: flex-end;
    opacity: 0.4;
    margin-left: 10px;
}