
vscode-panel-view {
    padding-right: 0;
    padding-left: 0;
}

#raw{
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    inline-size: 100%;
}

.ellipsis > * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.bottom-line {
    display: flex;
    width: 100%;
}
.bottom-line .link{
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}
.bottom-line .number{
    display: inline-flex;
    align-items: flex-end;
    opacity: 0.5;
    margin-left: 10px;
}