.control-row {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    align-items: center;
}

.control-col-filter {
    padding-left: 10px;
    overflow: hidden;
}

ul.tree > li {
    background: #9292922e;
    margin-bottom: 5px;
    border-radius: 2px;
}

ul.tree ul {
    padding: 0;
}

ul.tree ul .line {
    padding-left: 0.5em;
    padding-right: 0.3em;
    border-top: 1px solid var(--vscode-sideBar-background);
}

ul.tree .line.selected {
    background: #ffffff12;
}

.error-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.error-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.property-row {
    display: flex;
    flex-direction: row;
    margin: 3px 0;
}

.property-col {
    flex-direction: column;
    flex: 1;
    flex-basis: auto;
}

.label {
    opacity: 0.3;
    margin-right: 4px;
    font-size: calc(var(--vscode-font-size) - 2px);
}

.value {
    white-space: nowrap;
}

.font-blue {
    color: var(--vscode-editorInfo-foreground);
}

.font-red {
    color: var(--vscode-editorError-foreground);
}

.font-green {
    color: var(--vscode-charts-green);
}

.font-orange {
    color: var(--vscode-editorWarning-foreground);
}
