
vscode-panel-view {
    padding-right: 0;
    padding-left: 0;
}

.label {
    opacity: 0.3;
    margin-right: 4px;
    font-size: calc(var(--vscode-font-size) - 2px);
}
.value{
    white-space: nowrap;
    font-size: calc(var(--vscode-font-size) - 2px);

}

.title{
    white-space: nowrap;
    font-weight: 500;
}

#raw{
    font-family: var(--vscode-editor-font-family);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    inline-size: 100%;
}

.ellipsis > * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.section-header-row{
    margin: 5px 0;
    display: flex;
}
.workspace-only-checkbox
{
    margin-left: 5px;
}
ul.tree.frames .line {
    padding-left: 0.5em;
    padding-right: 0.3em;
}
ul.tree.frames .line.disabled {
    opacity: 0.4;
}
ul.tree.frames li:not(:first-of-type) .line{
    border-top-width: 1px;
    border-top-color: var(--vscode-tree-tableColumnsBorder);
    border-top-style: dashed;
}
.no-frames-msg {
    padding: 1em;
    font-style: italic;
    opacity: 0.5;
}
span.span-name {
    opacity: 0.5;
    margin-left: 5px;
}

.flow-stack-title{
    font-weight: 500;
}
.flow-stack-message {
    opacity: 0.3;
    font-style: italic;
}
.flow-stack-frames{
    border-left: 1px solid var(--vscode-tree-indentGuidesStroke);
    padding-left: 5px;
    margin: 4px 0px 20px 3px;
}
.look-like-link{
    color: var(--vscode-textLink-foreground);
    padding-top: 5px;
}
.bottom-line {
    display: flex;
    width: 100%;
}
.bottom-line .link-cell{
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}
.bottom-line .number-cell{
    display: inline-flex;
    align-items: flex-end;
    opacity: 0.4;
    margin-left: 10px;
}

.can-toggle {
    position: relative;
  }
  .can-toggle *, .can-toggle *:before, .can-toggle *:after {
    box-sizing: border-box;
  }
  .can-toggle input[type=checkbox] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .can-toggle input[type=checkbox][disabled] ~ label {
    pointer-events: none;
    color: rgba(119, 119, 119, 0.5);
  }
  .can-toggle input[type=checkbox][disabled] ~ label .can-toggle__switch {
    opacity: 0.4;
  }
  .can-toggle input[type=checkbox]:checked ~ label .can-toggle__switch:before {
    content: attr(data-unchecked);
    left: 0;
  }
  .can-toggle input[type=checkbox]:checked ~ label .can-toggle__switch:after {
    content: attr(data-checked);
    transform: translate3d(65px, 0, 0);
  }
  .can-toggle label {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 6px;
  }
  .can-toggle label .can-toggle__label-text {
    flex: 1;
    padding-left: 32px;
  }
  .can-toggle label .can-toggle__switch {
    position: relative;
    transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
    background: #848484;
    height: 36px;
    flex: 0 0 134px;
    border-radius: 4px;
  }
  .can-toggle label .can-toggle__switch:before {
    content: attr(data-checked);
    position: absolute;
    top: 0;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    left: 67px;
    font-size: 6px;
    line-height: 36px;
    width: 67px;
    padding: 0 6px;
  }
  .can-toggle label .can-toggle__switch:after {
    content: attr(data-unchecked);
    position: absolute;
    z-index: 5;
    text-transform: uppercase;
    text-align: center;
    background: white;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
    color: #777;
    top: 2px;
    left: 2px;
    border-radius: 2px;
    width: 65px;
    line-height: 32px;
    font-size: 6px;
  }
  .can-toggle input[type=checkbox]:focus ~ label .can-toggle__switch, .can-toggle input[type=checkbox]:hover ~ label .can-toggle__switch {
    background-color: #777;
  }
  .can-toggle input[type=checkbox]:focus ~ label .can-toggle__switch:after, .can-toggle input[type=checkbox]:hover ~ label .can-toggle__switch:after {
    color: #5e5e5e;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  }
  .can-toggle input[type=checkbox]:hover ~ label {
    color: #6a6a6a;
  }

  .can-toggle input[type=checkbox]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type=checkbox]:checked:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  }
  .can-toggle label .can-toggle__switch:hover:after {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  }
  .can-toggle.can-toggle--size-small input[type=checkbox]:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-small input[type=checkbox]:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  }
  .can-toggle.can-toggle--size-small input[type=checkbox]:checked ~ label .can-toggle__switch:after {
    transform: translate3d(44px, 0, 0);
  }
  .can-toggle.can-toggle--size-small input[type=checkbox]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-small input[type=checkbox]:checked:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  }
  .can-toggle.can-toggle--size-small label {
    font-size: 13px;
  }
  .can-toggle.can-toggle--size-small label .can-toggle__switch {
    height: 23px;
    flex: 0 0 90px;
    border-radius: 2px;
  }
  .can-toggle.can-toggle--size-small label .can-toggle__switch:before {
    left: 45px;
    font-size: 8px;
    line-height: 23px;
    width: 45px;
    padding: 0 6px;
  }
  .can-toggle.can-toggle--size-small label .can-toggle__switch:after {
    top: 1px;
    left: 1px;
    border-radius: 1px;
    width: 44px;
    line-height: 22px;
    font-size: 8px;
  }
  .can-toggle.can-toggle--size-small label .can-toggle__switch:hover:after {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  }

