
body {
    padding-right: 5px;
}

.info-message{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    align-items: center;
    opacity: 0.6;
    .codicon{
        font-size: 20px;
    }
    .text{
        text-align: center;
    }
}

.error-message{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    color: #ff8080;
    background: #ff808012;
    border-radius: 2px;
    .codicon{
        font-size: 20px;
    }
    .text{
        text-align: center;
    }
}

ul.tree{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;

    ul{
        list-style-type: none;
        padding-left: 1em;
    }
    .collapsed {
        display: none;
    }
    .has-items{
        cursor: pointer;
        user-select: none;
    }
    .line{
        padding-left: 1.4em;
        padding-top: 0.2em;
        padding-bottom: 0.3em;
        position: relative;
        border-radius: 2px;
        &:hover{
            background-color: var(--vscode-list-hoverBackground);
        }
        &.selected {
            background: var(--vscode-list-inactiveSelectionBackground);
        }
        &>.codicon:first-of-type{
            position: absolute;
            left: 0;
        }
        &.has-items.active + * {
            display: block;
        }
    }
}

.initializing-message {
    display: flex;
    align-items: center;
    margin: 4px 0;

    vscode-progress-ring {
        width: 16px;
        height: 16px;
    }

    span {
        margin-left: 10px;
    }
}

.loading-message{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    align-items: center;
    vscode-progress-ring{
        width: 20px;
        height: 20px;
    }
}

.link{
    color: var(--link-foreground);
    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.right-ellipsis{
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
    @extend .ellipsis;
    direction: rtl;
    unicode-bidi: plaintext;
}
.left-ellipsis{
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
    @extend .ellipsis;
    direction: rtl;
    text-align: left;
}

.filter-tag {
    border-radius: 23px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 1px 1px 1px 8px;
    border: 1px solid var(--badge-background);
}
.filter-tag-label{
    padding-bottom: 3px;
    padding-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.filter-tag-close{
    margin: auto;
    border-radius: 10px;
    padding: 2px;
    cursor: pointer;
}
.filter-tag-close:hover{
    background: var(--button-icon-hover-background);
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-max-space-between{
    justify-content: space-between;
}
.flex-stretch{
    flex: 1;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-v-center{
    display: flex;
    align-items: center;
}