
.list{
    inline-size: 100%;
}

.list-item:hover {
    background: var(--vscode-list-hoverBackground);
}

.list-item {
    padding: 4px 5px 4px 5px;
    border-bottom-width: 1px;
    border-bottom-color: var(--vscode-tree-tableColumnsBorder);
    border-bottom-style: solid;
}

.list-item.selected {
    background: var(--vscode-list-inactiveSelectionBackground);
    border: none;
}