
vscode-panel-view {
    flex-direction: column;
    padding-left: 0;
}


.list{
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.list-item {
    padding: 3px;
    display: flex;
    background: #ffffff0d;
    margin-top: 3px;
    border-radius: 2px;
}
.list-item-content-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1
}
.list-item-content-area > div {
    margin: 2px;
    font-size: 12px;
}
.list-item-header
{
    font-weight: bold;
}
.list-item-right-area
{
    width: 50px;
    display: flex;
    flex-direction: column;
    margin: 3px;
    align-items: center;
    justify-content: center;
}
.score-box{
    border-radius: 5px;
    border: 2px solid;
    margin: 4px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}
.score-red {
    border:#f95959
    }
  .score-orange 
  {
    border:#fdb44b
    }
  .score-green 
  {
    border:#7dd87d;
    }

.expand
{
    margin-top: auto
}
.spacer{
    height: 3px;
}

